@import "reset";
@import "vars";
@import "base";
@import "grid";

body {
  font-family: 'Playfair Display', serif;
}
.header {
  padding: 2.7rem 0;
  .header-nav, .menu-links {
    @extend %flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo h1 {
    font-family: 'Dancing Script', cursive;
    color: #af9453;
    
  }
  .menu-links a {
    color: #000000;
    font-size: 18px;
    margin-left: 20px;
  }
  .ham-menu {
    display: none;
  }

  @media all and (max-width: 768px)
  {
    padding: 2.7rem;
    .menu-links {
      display: none;
    }
    .ham-menu  {
      display: inline-block;

    }
    #toggle {
      display: none;
    }
    .ham:checked ~ .menu-links {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 50%;
      ul {
        width: 100%;
      }
    }

  }
}

.hero {
    background-image: url(../images/hero);
    background-size: cover;
    background-attachment: fixed;

  .hero-text {
    color: #ffffff;
    letter-spacing: 2px;
    padding: 15rem 0;
    h2 {
      font-size: 4rem;
      line-height: 2;
      letter-spacing: 0.5rem;
      @media all and (max-width: 768px)
      {
        font-size: 3rem;
      }
    }
  }
}

.services-article {
  @extend %grid;
  grid-column-gap: 6rem;

  .services-img {
    grid-column: 2 / span 2;
    font-size: 0;
    img {
      width: 100%;
    }
    
  }

}
.services-text {
  grid-column: 1 / span 1 ;
  background: #af9453;
  @extend %grid;
  
  div {
    place-self: center;
    
  }
  h2 {
    font-size: 1.7rem;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 0.8rem;
    padding: 1rem 0;
    
  }
  p {
    line-height: 2;
    font-size: 1.5rem;
    color: #ffffff;
    padding: 1rem 0;
  }
  .btn {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    margin-top:1rem ;
    font-family: inherit;
    letter-spacing: 1px;
  }

  .gallery-article & {
    grid-column: 3 / span 1;
  }
}

.btn:hover {
  background-color: #ffffff;
  color: #af9453;
}

.testimonials-article {
  
  @extend %flex;
  align-content: center;
  justify-content: space-between;
  height: 700px;
  @media all and (max-width: 768px) {
    height: 800px;
  }
 

  .testimonials-text {
    @extend %flex;
    text-align: center;
    width: 60%;
    animation: fadeAndScale .5s  ease-in;
    @keyframes fadeAndScale {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
    }
   
 
    blockquote {
      
      line-height: 2.5;
      
      p {
        color: #000000;
        font-weight: 500;
        letter-spacing: 2px;
        word-spacing: 5px;
        font-size: 1.5rem;
      }
    
     
    }
    .author {
      font-style: italic;
      color: #af9453;
      
    }
  }
  .btn {
    background-color: transparent;
    border: none;
    outline: none;
    color: #af9453;
    font-size: 1.2rem;
  }

}

.gallery-article {
  padding: 4rem;
  background-image: url(../images/gallery);
  background-attachment: fixed;
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;

  @extend %grid;
}

.hidden {
  width: 100%;
  padding: 6rem 0;
  background: #af9453;
  @extend %grid;
  display: none;
  grid-column: 1 / span 5;
  div {
    place-self: center;
      
  }
  h2 {
    font-size: 2rem;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 0.8rem;
    padding: 1rem 0;
      
  }
  p {
    line-height: 2;
    font-size: 1.5rem;
    color: #ffffff;
    padding: 1rem 0;
  }
  .btn {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    margin-top:1rem ;
      
    }
  .btn:hover {
    background-color: #ffffff;
    color: #af9453;
  }
}

.top {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  @media all and (max-width: 768px)
  {
    bottom: 2rem;
    right: 1.5rem;
  }
  a {
     color: #ffffff;
     font-size: 4rem;
     height: 60px;
     width: 60px;
     padding: 0 20px ;
     border-radius: 50%;
     border: black;
     background-color: #3b321b;
   }
 }

.footer {
  background-color: #af9453;
 
  .footer-wrapper {
    color: #ffffff;
    max-width: 80%;
    margin: 0 auto;
    @extend %grid;
    justify-content: center;
    align-content: center;
    grid-row-gap: 20px;
    
    address {
      align-self: center;
      justify-self: center;
      grid-column: 1 / span 2;
      @media all and (max-width: 620px) {
       
        grid-column: 1 / span 3;
      }
     
    }
    .contact {
      justify-self: center;
      align-self: center;
      grid-column: 3 / span 2;
      border-left: 1px solid #ffffff;
      border-right: 1px solid #ffffff;
      padding: 1rem 3rem ;
      a {
        color: #ffffff;
      }
      @media all and (max-width: 620px) {
        grid-column: 4 / span 3 ;
        border: none;
      }
    }
    small {
      justify-self: center;
      grid-column: 1 / span 6;
    }
    .footer-nav {
      justify-self: center;
      grid-column: 5 / span 2;
      padding-left: 1rem;
      .nav-links {
        
        @extend %flex;
        justify-content: space-between;
        li a {
          color: #ffffff;
        }
      }
      @media all and (max-width: 620px) {
        grid-column: 1 / span 6 ;
        
      }
    }

    .btn {
      cursor: pointer;
      border: 2px solid #ffffff;
      color: #ffffff;
      margin-top:1rem ;
      font-family: inherit;
    }
    .btn:hover {
      background-color: #ffffff;
      color: #af9453;
    }
   

  }

}

@media all and (max-width: 768px) {

  
  
  .padding {
   padding: 0;
   
  }
  
  .header {
    padding: 2.7rem;
    .menu-links {
    display: none;
    }
   .ham-menu {
      display: inline-block;
      font-size: 3rem;
      z-index: 10;
      cursor: pointer;
    }
    #toggle {
      display: none;
    }
    
    .ham-menu:checked ~ .menu-links {
      background: rgba(0,0,0,0.9);
      display: inline-block;
      position: absolute;
      top: 0;  
      right: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      padding-top: 30vh;
      li {
        margin-bottom: 3rem;
      }
      li a {
        color: #ffffff;
        font-size: 2rem;
      }
      
    } 
    
  }
    .services-article {
      grid-auto-flow: row;
      .services-img { 
        grid-column: 1 / span 4;
      }
    }
    .services-text {
      grid-column: 1 / span 4;
     
      padding: 4rem  0;
    }
    .text-hidden {
      display: none;
    }
    .hidden {
     
      display: inline-block;
    }
    .footer {
      padding: 20px 0;
    }
  
}
   
    





// About Styling

.heading {
  font-size: 2rem;
  text-transform: uppercase;
  color: #af9453;
  letter-spacing: 0.8rem;
  padding-bottom: 1rem;
  padding-top: -2rem;
}
.profiles {
  @extend %grid;
  grid-gap: 6rem;
  place-self: center;
  @media all and (max-width: 768px)
  {
    grid-gap: 0;
  }
  .about-person-img {
    grid-column: 1 /span 2;
    img {
      width: 100%;
    }
    @media all and (max-width: 768px)
    {
      grid-column: 1 / span 5;
    }
  }
  .about-text {
    height: 100%;
    background-color: #fbfbfb;
    @extend %grid;
    grid-column: 3 / span 3;
    place-self: center;
    
    .quote-marks {
      color: #333333;
      height: 100px;
      @media all and (max-width: 768px)
      {
        height: 80px;
      }

    }
    .about-para {
      width: 80%;
      
      margin: 0 auto;
    }
    h3 {
      color: #333333;
      font-size: 2.5rem;
    }
    
    p {
      color: #7e8a8a;
    }
    
    @media all and (max-width: 768px)
    {
      grid-column: 1 / span 5;
    }
  }
  .about-signature {
    
    padding-bottom: 2rem;
    p {
      color: #af9453;
    }
  }
}
  
  // .about-text-left {
  //   height: 100%;
  //   background-color: #fbfbfb;
  //   @extend %grid;
  //   grid-column: 1 / span 3;
  //   place-self: center;
  //   @media all and (max-width: 768px)
  //   {
  //     grid-column: 1 / span 5;
      
  //   }
  //   .quote-marks {
  //     color: #333333;
  //     height: 125px;
  //   }
  //   .about-para {
  //     width: 80%;
      
  //     margin: 0 auto;
  //   }
  //   h3 {
  //     color: #333333;
  //     font-size: 2.5rem;
  //   }
    
  //   p {
  //     color: #7e8a8a;
  //   }
   
  // }
  // .about-signature {
  //   color: #af9453;
  // }
  // .about-person-img-right {
  //   grid-column: 4 /span 2;
  //   img {
  //     width: 100%;
  //   }
  //   @media all and (max-width: 768px)
  //   {
  //     grid-column: 1 / span 5;
      
  //   }
  // }

.left {
  grid-template-areas: 
  "first first first second second";
  @media all and (max-width: 768px)
  {
    grid-template-areas: 
    "first first first first first"
    "second second second second second";
  }
  .about-text-left {
    height: 100%;
    background-color: #fbfbfb;
    @extend %grid;
    grid-area: first;
    place-self: center;
    .quote-marks {
      color: #333333;
      height: 100px;
      @media all and (max-width: 768px)
      {
        height: 80px;
      }
    }
    .about-para {
      width: 80%;
          
      margin: 0 auto;
    }
    h3 {
      color: #333333;
      font-size: 2.5rem;
    }
        
    p {
      color: #7e8a8a;
    }
    @media all and (max-width: 768px) {
      grid-area: second;
    }
  }
  .about-signature {
    padding-bottom: 2rem;
    p {
      color: #af9453;
    }
  }
  .about-person-img-right {
    grid-column: 4 /span 2;
    img {
      width: 100%;
      height: 770px;
      object-fit: cover;
    }
    @media all and (max-width: 768px) {
      grid-area: first;
    }
  }
}


//Added by Anshu contact section from here
.con-primary {
  padding: 3rem 0;
  @extend %grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 1rem;
  grid-column-gap: 2rem;
  @media all and (max-width: 768px)
  {
    grid-template-columns: 1fr;
  }
  .con-contact-hero {
    padding: 6rem 0;
    @extend %grid;
    grid-column: span 1;
    background-color: #AF9453;
    h4  {
      color: white;
      text-align: center;
      align-self: center;
      width: 50%;
      margin: 0 auto;
      font-size: 1.2rem;
      font-weight: 300;
      letter-spacing: 0.2rem;
    }
    
  }
  .con-contact-form {

    padding: 3rem 0;
    -webkit-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
    @extend %grid;
    grid-column: span 2;
    background-color: #F7EFE9;
    border: 5px ridge  #AF9453;
    @media all and (max-width: 768px)
    {
      grid-column: span 1;
    }
    h2{
      color:  #AF9453;
      margin: 0 auto;
      font-size: 1.5rem;
      font-weight: 300;
      letter-spacing: 0.2rem;
      text-align: center;
      padding-bottom: 2rem;
    }
    .con-form {
      @extend %grid;
      width: 70%;
      margin: 0 auto;
      justify-content: center;
      p{
        color: #AF9453;
        letter-spacing: 0.2rem;
        text-align: center;
      }
      .con-flex {
        @extend %flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      .con-flex > {
        width: 50%;
      }
      
    }
    .con-form > {
      align-self: center;
      text-align: center;
      
    }
    input, textarea, button {
      font-family: 'Playfair Display', serif;
      border:none;
      box-shadow: none;
      background-color: transparent;
      margin: 1rem 0;
    }
    #con-email-label, #con-email-input
    {
      width: 100%;
    }
    input, textarea{
      border-bottom: 1px solid #AF9453;
      color:  #AF9453;
      letter-spacing: 0.2rem;
  
    }
    button{
      color:  #AF9453;
      letter-spacing: 0.2rem;
      cursor: pointer;
    }
  }
  .con-contact-details {
    @extend %grid;
    -webkit-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
    grid-column: span 2;
    background-color: #F7EFE9;
    justify-content: center;
    align-content: center;
    border: 5px groove  #AF9453;
    @media all and (max-width: 768px)
    {
      grid-column: span 1;
      order: 2;

    }
    h3, p {
      align-self: center;
      text-align: center;
      letter-spacing: 0.2rem;
    }
    h3{
      color:  #AF9453;
      margin: 0 auto;
      font-size: 1.5rem;
      font-weight: 300;
      letter-spacing: 0.2rem;
    }
    p{
      color:  #AF9453;
    }
  }
  .con-contact-img {
    grid-column: span 1;
    .img-responsive {
      width: 100%;
      height: 100%;
      font-size: 0;
    }
    @media all and (max-width: 768px){
      width: 95%;
      margin: 0 auto;
    }
  }
  .con-contact-map{
    grid-column: 1/span 3;
    margin-bottom: 2rem;
    border: 5px groove  #AF9453;
    @media all and (max-width: 768px)
    {
      grid-column: span 1;
      order: 3;
    }
  }   
}

//Added by Anshu contact section till here


//Added by Anshu gallery section from here

.gal-gallery {
  
  margin-bottom: 3rem;
  // -webkit-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
  // -moz-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
  // box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
  //background-image: linear-gradient(#AF9453 , #FFFFFF);
  @extend %grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-auto-rows: 100px;
  grid-auto-flow: dense;
  overflow: hidden;
  .gal-item {
    @extend %grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
    /* border: 2px solid #AF9453; */
  }
  .gal-item img {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .gal-item:hover {
    transition: transform 1s ease-out;
    transform: scale(1.5); 
    box-shadow:  4px 4px 5px 0px rgba(0,0,0,0.75),  -4px -4px 5px 0px rgba(0,0,0,0.75);
    animation: fadeAndScale 1s  ease-out;
    border: 2px ridge  #AF9453;
    @keyframes fadeAndScale {
      from {
          opacity: 0.8;
      }
      to {
          opacity: 1;
      }
    }
    
  }
  
  .gal-item.v2 {
    grid-row: span 2;
  }

  .gal-item.v3 {
    grid-row: span 3;
  }

  .gal-item.v4 {
    grid-row: span 4;
  }

  .gal-item.v5 {
    grid-row: span 5;
  }

  .gal-item.h2 {
    grid-column: span 2;
  }

  .gal-item.h3 {
    grid-column: span 3;
  }

  .gal-item.h4 {
    grid-column: span 4;
  }

  .gal-item.h5 {
    grid-column: span 5;
  }
}
.gal-primary {
  padding: 3rem 0;
  
  .gal-header{
      
      @extend %grid;
      grid-template-columns: 2fr 5fr 2fr;
      grid-auto-rows: 3.5rem;
      grid-template-areas: 
      "main main main"
      "hel1 image hel2"
      "hel1 image hel2"
      "hel1 image hel2"
      "sb1 image sb2";
      @media all and (max-width: 768px)
      {
        grid-template-columns: 3fr 16fr 3fr; 
        grid-template-areas: 
        "hel2 hel2 sb2"
        "hel1 image image"
        "hel1 image image"
        "hel1 image image"
        "hel1 image image"
        "sb1 image image";
        
      } 
          
    }
  .gal-header-main{
    grid-area: main;
    background-color:  rgb(88, 62, 42);
    @media all and (max-width: 768px)
    { 
      background-color: white;
    }
  }

  .gal-header-sidebar1{
      grid-area: sb1;
      background-color: white
  }
  .gal-header-sidebar2{
      grid-area: sb2;
      background-color: white;
  }
  .gal-header-img{
      @extend %grid;
      grid-area: image;
      background-image: linear-gradient(to right, rgba(0, 2, 255, 0.25), rgba(0, 0, 0, 0.25)),url('../images/gal-header-bg.svg');//, linear-gradient(110deg, #f9bd3d65, #6d47d9);
      background-size: cover;
     
      h2{
        font-size: 2.5rem;
        text-align: center;
        align-self: center;
        background: transparent;
        color: #AF9453;
        text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
        letter-spacing: 0.3rem;
        text-transform: uppercase;
      }
      p{
        width: 70%;
        text-align: center;
        place-self: center;
        background: transparent;
        color: wheat;
        font-style: italic;
        text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
        letter-spacing: 0.1rem;
      }

  }
  .gal-header-hel1{
      grid-area: hel1;
      background-color:  rgb(88, 62, 42);
  } 
  .gal-header-hel2{
      grid-area: hel2;
      background-color:  rgb(88, 62, 42);
  } 
  .img-responsive{
      height: 100%;
      object-fit: contain;
  }
 
}
// .gal-header{
//   .video-bg {
//     position: absolute;
//     top: 0;
//     left: 0;
//     min-height: 100%;
//     min-width: 90vh;
// }
// .backgroundwrap {
//     position: fixed;
//     top: 50;
//     left: 50;
//     right: 60;
//     bottom: 60;
//     width: 100%;
//     height: 90vh;
// }

// .content {
//     width: 100%;
//     position: absolute;
//     color: rgba(224, 93, 137, 0.822);
//     top: 0;
//     left: 0;
//     font-family: 'Galada', cursive;
// }
// .content h1 {
//     text-align: center;
//     font-size: 5rem;
//     margin-top: 10rem;
//     word-spacing: 1rem;
//     letter-spacing: 0.2rem;

// }
// .content p {
//     text-align: center;
//     font-size: 3rem;
//     padding: 2rem;
// }
// }
//Added by Anshu gallery section till here


//Services Page Added by Anupam

.ser-bg {
  background-image: url(../images/services);
  background-size: 100% 100%;
  background-attachment: fixed;
  height: 600px;
}

.ser-gridcontain {
  display: grid;
  margin: 3rem 0;
  grid-gap: 1.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  @media all and (max-width: 786px) {
    grid-template-columns: 1fr;
  }
    

}
.ser-subhead {
  font-size: 2.2rem;
  color: #af9453;
  text-transform: uppercase;
  padding: 5rem 0 2rem 0;
  text-align: center;
  letter-spacing: 0.8rem;
}
.ser-venue {
  background: #e8e4e4;
  padding: 4rem 1rem;
}
.ser-circle {
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
}

.ser-gridheading {
  color: #af9453;
  font-size: 1.5rem;
  padding: 2rem 0;
}
.ser-gridtext {
  font-size: 1.1rem;
  letter-spacing: 2px;
}
.btn-readmore {
  background-color: #af9453;
  font-size: 1.2rem;
  color: #ffffff;
  border: #ffffff;
  font-family: inherit;
  border: 1px solid #af9453;
  &:hover {
    background-color: #ffffff;
    color: #af9453;
  }
}

// Venue

.venue-grid {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 1rem;
  margin-bottom: 3rem;
  margin-left: 3rem;
  @media all and (max-width: 786px) {
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
  }
}
.venue-text {
  border: 5px groove  #AF9453;
  padding: 2rem;
  letter-spacing: 2px;
  p, li {
    font-size: 1.2rem;
  }
  li {
    padding-top: 0.5em;
  }
  @media all and (max-width: 786px) {
    order: 2;
    margin-top: 1rem;
  }
}
.btn-pad {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}
.ven-images {
  background-image: url(../images/taj2.jpg);
  background-size: 100% 100%;
  -webkit-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
  animation: ven-slider 15s infinite ease;
}

@keyframes ven-slider {
  0% { background-image: url(../images/taj2.jpg); }
  35% { background-image: url(../images/TajMahalPalace.jpeg); }
  75% { background-image: url(../images/venue2.jpg); }

}
// Decor
.decor-images {
  background-image: url(../images/decor1.jpg);
  background-size: 100% 100%;
  -webkit-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
  animation: decor-slider 15s infinite ease;
}
@keyframes decor-slider {
  0% { background-image: url(../images/decor1.jpg); }
  35% { background-image: url(../images/decor2.jpg); }
  75% { background-image: url(../images/decor4.jpg); }
}

// Guest
.guest-images {
  background-image: url(../images/guest.jpg);
  background-size: 100% 100%;
  -webkit-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
  animation: guest-slider 15s infinite ease;
}
@keyframes guest-slider {
  0% { background-image: url(../images/guest.jpg); }
  20% { background-image: url(../images/guest1.jpg); }
  40% { background-image: url(../images/guest2.jpeg); }
  80% { background-image: url(../images/guest2.jpg); }
}
// Artist
.artist-images {
  background-image: url(../images/artist1.jpg);
  background-size: 100% 100%;
  -webkit-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
  animation: artist-slider 20s infinite ease;
}
@keyframes artist-slider {
  0% { background-image: url(../images/artist1.jpg); }
  15% { background-image: url(../images/artist2.jpg); }
  30% { background-image: url(../images/artist3.jpg); }
  45% { background-image: url(../images/artist4.jpg); }
  60% { background-image: url(../images/artist5.jpg); }
  75% { background-image: url(../images/artist6.jpg); }
}
//Photo
.photo-images {
  background-image: url(../images/wedding-photographer.jpeg);
  background-size: 100% 100%;
  -webkit-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
  animation: photo-slider 20s infinite ease;
}
@keyframes photo-slider {
  0% { background-image: url(../images/wedding-photographer.jpeg); }
  35% { background-image: url(../images/photo1.jpg); }
  75% { background-image: url(../images/photo2.jpg); }
}

//Invite
.invite-images {
  background-image: url(../images/invite3.png);
  background-size: 100% 100%;
  -webkit-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px -4px 5px 0px rgba(0,0,0,0.75);
  animation: invite-slider 20s infinite ease;
}
@keyframes invite-slider {
  0% { background-image: url(../images/invite3.png); }
  20% { background-image: url(../images/invite6.jpg); }
  40% { background-image: url(../images/invite8.jpg); }
  80% { background-image: url(../images/invite7.jpg); }
}
// Anupam's part end here

